<span ng-controller="WidgetOptionsCtrl">
    <div class="form-group">
        <label class="col-sm-2 control-label">Data&NonBreakingSpace;Types</label>

        <div class="col-sm-10">
            <input value="{{dataTypes}}" class="form-control" disabled/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Data&NonBreakingSpace;Source</label>

        <div class="col-sm-10">
            <input value="{{dataSourceName}}" class="form-control" disabled/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Topics</label>

        <div class="col-sm-10">
            <div class="form-inline">
                <select ng-model="topic" ng-options="topic.name for topic in topics" class="form-control"
                        style="min-width: 200px;max-width: 350px;">
                </select>
                <button class="btn btn-default navbar-btn" ng-click="prevTopic();">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button class="btn btn-default navbar-btn" ng-click="nextTopic();">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>

<!--
<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-default" ng-repeat="t in topics"
                    ng-click="selectTopic(t)"
                    ng-class="t == topic ? 'btn-success': '' ">
                {{t}}
            </button>
        </div>
    </div>
</div>
-->
</span>