<div class="row">
    <div class="col-md-12">
        <h2>External Controls</h2>

        <button ng-click="addWidget('one');" type="button" class="btn btn-success">one</button>
        <button ng-click="addWidget('two');" type="button" class="btn btn-info">two</button>
        <button ng-click="addWidgetScopeWatch();" type="button" class="btn btn-warning">scope-watch</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Dashboard</h2>
        <div dashboard="dashboardOptions"></div>
    </div>
</div>
