<div class="row">
    <div class="col-md-4">
        <h2>External Controls</h2>

        <p>
            <button ng-click="addWidget('one');" type="button" class="btn btn-success">one</button>
        <p>

        <p>
            <button ng-click="addWidget('two');" type="button" class="btn btn-info">two</button>
        </p>

        <p>
            <button ng-click="addWidgetScopeWatch();" type="button" class="btn btn-warning">scope-watch</button>
        </p>
    </div>
    <div class="col-md-8">
        <h2>Dashboard</h2>
        <div dashboard="dashboardOptions"></div>
    </div>
</div>
